@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap&subset=latin-ext');

* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    min-height: 100vh;
    background-image: url('images/onas1.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

div.about {
    height: 30vh;
    text-align: center;
    background-color: rgba(7, 13, 89, .9);
}

.about h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 30vh;
    color: #f7b633;
    font-size: 32px;
    letter-spacing: 2px;

}

.inside {
    margin: 70px auto 0;
    text-align: center;
    width: 85%;
    padding: 30px 5px;
    background-color: rgba(88, 147, 212, .9);

}

.inside p {
    font-size: 10px;
    line-height: 300%;
    color: white;
    font-family: 'Merriweather', serif;
}

.inside p::first-letter {
    font-size: 22px;
}

.img {
    margin-top: 50px;
}

.img h2 {
    color: #070d59;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.img h3 {
    color: #f7b633;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.img img {
    margin-top: 30px;
    width: 90%;
}

.return {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 1%;
    text-decoration: none;
    background-color: #f7b633;
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
}

.return:hover {
    color: #070d59;
}

@media(min-width: 1024px) {
    .about h1 {
        font-size: 72px;
    }

    .inside {
        margin: 70px auto 0;
        width: 60%;
        padding: 30px 70px;
    }

    .inside p {
        font-size: 22px;
    }

    .inside p::first-letter {
        font-size: 42px;
    }

    .img h2 {
        font-size: 62px;
    }

    .img h3 {
        font-size: 32px;
    }
}

@media(min-width: 1280px) and (orientation: landscape) {
    .return {
        display: block;
    }
}